<h>EMPLOYEE DETAILS: </h>
<p>
    <table>
        <tr>
            <th>DEPARTMENT NAME</th>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>SALARY</th>
            <th></th>
            <th></th>
        </tr>
        <tr >
            <td>TESTING</td>
            <td>mark</td>
            <td>twain</td>
            <td>1000</td>
            <td><input type="button" value="edit" ng-click=""></td>
            <td><input type="button" value="delete" ng-click=""></td>
        </tr>
         <tr> 
             <td>DEVELOPER</td> 
             <td>thomas</td>
            <td>hardy</td>
            <td>2000</td>
            <td><input type="button" value="edit" ng-click=""></td>
            <td><input type="button" value="delete" ng-click=""></td>
        </tr>   
        <tr>
            <tr></tr>
             <td>tom</td>
            <td>swayer</td>
            <td>3000</td>
            <td><input type="button" value="edit" ng-click=""></td>
            <td><input type="button" value="delete" ng-click="delete"></td>
        </tr>  
        <tr><td>hermione</td>
            <td>granger</td>
            <td>4000</td>
            <td><input type="button" value="edit" ng-click=""></td>
            <td><input type="button" value="delete" ng-click=""></td>
       
    </table>
</p>